html, body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

body {
  padding-top: 50px;
}

table {
  font-size: 13px;
}

.sidebar {
  background: #f3f3f3;
}

.wrapper {
  position: relative;
  min-height: 920px;
}

.footer {
  background-color: #f5f5f5;
  border-top: 1px solid #e7eaec;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  right: 0;
}
