<ul class="nav nav-sidebar">
  <li class="active"><%= link_to fa_icon("fw dashboard", text: "Home (current)"), root_path %></li>
  <li><%= link_to fa_icon("fw rocket", text: "Apps"), apps_path %></li>
  <li><%= link_to fa_icon("fw server", text: "Containers"), containers_path %></li>
</ul>
